body{
    background-image: linear-gradient(to right, #eee4b9 , #fcde8e);
}
.container_titolo{
    border-color: black;
    border-style: solid ;
    border-radius: 10px;

    margin-bottom: 10px;
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-color: white;
    display: flex;
    align-items: center; /* Centra verticalmente il contenuto */
}
.container_titolo h2 {
    flex-grow: 1; /* Fai espandere il titolo per occupare lo spazio rimanente */
}
.container_titolo h4 {
    margin-right: 20px;
    margin-left: 20px;
}
.container_titolo a {
    margin-right: 20px;
    margin-left: 20px;
}
/* ----------------------------------- */
.main_container{
    width:100%;
    display: flex;
    gap: 20px;
}
.product_container{
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.prodotto{
    border-color: black;
    border-style: solid ;
    border-radius: 10px;

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    height: auto;
    margin-bottom: 10px;
    background-color: white;
}
.prodotto img{
    width: 50%;
}

.container_acquisto{
    flex:1;
    border-color: black;
    border-style: solid ;
    border-radius: 10px;
    position: right;

    width: 20%;
    height: 250px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-color: white;
}

.button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(250, 216, 177);/* Green */
    border : solid black;
    border-radius: 10px;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width:200px;
}
.button5:hover {
    background-color: rgb(146, 71, 0);
    color: white;
}

.carrello_vuoto{
    
}
